.App {
  background-color: tomato;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

.banner {
  flex-basis: 100%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-size {
  border: 4px solid #222;
  width: 40px;
  text-align: center;
}

.board {
  background-color: #222;
  min-width: 60vw;
  min-height: 60vh;
  display: grid;
  grid-template-columns: repeat(var(--squares, 3), 1fr);
  grid-template-rows: repeat(var(--squares, 3), 1fr);
  padding: 6px;
}

.square {
  background-color: white;
  margin: 6px;
  border: none;
  font-size: 48px;
  font-family: "Source Sans Pro", sans-serif;
}

.winner {
  font-size: 48px;
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.new-game {
  background: #222;
  display: block;
  margin: 32px;
  border: none;
  padding: 12px;
  color: white;
  font-weight: 900;
}